/*<MAIN HEADER STYLES*/

.logo {
    color: #000000;
    font-family: Inconsolata, Helvetica, Georgia, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.main-header {
    /*width: 1000px;
    margin: 0 auto*/
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
    align-items: center;
}

.navigation {
    width: calc(100% - 120px);
}

.navigation-list {
    display: flex;
    justify-content: flex-end;

}

.navigation-item {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 100px;
}

/*MAIN HEADER STYLES>*/