/*<PHOTODIARY-MAIN STYLES*/

.photodiary-main-wrapper {
    width: 900px;
    margin: 100px auto;
}

.photodiary-main-subtitle {
    color: #b4ad9e;
    font-size: 14px;
}

.photodiary-main-title {
    color: #626262;
    font-size: 30px;
    margin: 35px 0;
}

.photodiary-main-content {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
}

.comment-button {
    color: #b4ad9e;
    font-size: 14px;
    border: none;
    background-color: white;
    padding: 0;
}

/*PHOTODIARY-MAIN STYLES>*/