/*<GENERAL STYLES*/

.bb {
    border: 1px solid black;
}

.bw {
    border: 1px solid white;
}

* {
    font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
}

.subtitle-font {
    font-family: Ubuntu, Helvetica, Georgia, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.bg-grey {
    background-color: #f0f0f0;
}

/*GENERAL STYLES>*/